{%load staticfiles%}
<!DOCTYPE html>
<html lang="ru"> 
<head>
    <title>Тестовое задание</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--Load styles -->
    <link rel="stylesheet" type="text/css" href= {% static "css/style.css"%}>
</head> 

<body>
    <div id="billboard">
        <div class="header_text">
            <h2>Доска объявлений</h2>
        </div>
        {%for ad in ad_list%}
            <a href="current/{{ad.id}}/"><div class="ad">
                <div class="ad_header"> {{ad.ad_header}}</div>
                <div class="ad_text"> {{ad.ad_preview}}</div>
                <div class="ad_label">Просмотров: {{ad.ad_views}}</div>
            </div></a>
        {%endfor%}
    </div>
    <div id="new_ad">
        <div class="header_text">
            <h2>Добавить новое объявление</h2>
        </div>
        <form method="POST" action="new/">
            {%csrf_token%}
            Заголовок:<br><input type="text" name="caption" title="Заголовок новости"><br>
            Анонс:<br><input type="text" name="preview" title="Заголовок новости"><br>
            Содержание:<br><input type="text" name="text" title="Заголовок новости"><br>
            <input type="submit" name="send" value="разместить объявление">
        </form>
    </div>
</body>
</html>